* {
  box-sizing: border-box;
}

body {
  background-color: #7947de;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  gap: 0;
}

.container input {
  padding: 16px;
  border: none;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

input:focus {
  outline: none;
}

.close {
  position: absolute;
  width: 0;
  z-index: -1;
}

.container button {
  padding: 16px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
}
